i {
    position: relative;
    display: inline-block;
    font-size: 20px;
    gap: 2%;
    padding-right: 0.1rem;
    color: #EAEAEA;
}

.filled {
    color: #dede11;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}