<div class="dialog-container" *ngIf="data.requestType == 'add category'">
  <div class="header">
    <h1 mat-dialog-title>Add Category</h1>
    <button mat-icon-button (click)="onClose()"><img src="../../../assets/close.png"></button>
  </div>
  <div class="content">
    <div class="category-input">
      <p>Enter Category Name :</p>
      <div class="input-container">
        <input type="text" [(ngModel)]="name">
        <button mat-raised-button (click)="onSaveCategory()">Save</button>
      </div>
    </div>
  </div>
  <div class="header">
    <h1 mat-dialog-title>Add Sub-Category</h1>
  </div>
  <div class="content">
    <div class="category-input">
      <p>Select Category Name:</p>
      <div class="input-container">
        <select [(ngModel)]="categoryID">
          <ng-container *ngFor="let category of categoryList">
            <option [value]="category.id">{{category.name}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="category-input">
      <p>Enter Category Name :</p>
      <div class="input-container">
        <input type="text" [(ngModel)]="name">
        <button mat-raised-button (click)="onSaveSubCategory()">Save</button>
      </div>
    </div>
  </div>
</div>
