.dialog-box-content {
  height: 100%;
}

form {
  label {
    margin-bottom: 2%;
    font-size: initial;
  }
}

:host ::ng-deep .mat-horizontal-stepper-header{
height: 50px;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.add-icon {
  border: 2px dashed #dac9c9;
  border-radius: 15px;
  height: 70px;

  img {
    width: 60px !important;
  }
}

mat-divider {
  margin: 2% 2% 2% 2%;
  background-color: #CCCCCC;
}

.preview {
  max-width: 200px;
  vertical-align: middle;
}
fieldset {
  padding: 20px;
  border: solid 1px #dac9c9;
  border-radius: 10px;
  width: fit-content!important;
  legend {
    color: #dac9c9;
    float: inherit;
    width: 25%;
    font-size: 15px;
  }
}
.attachment {
  display: flex;
  overflow: auto;
  mat-card {
    padding: 7px;
  }

  img {
    height: 70px;
    width: 70px;
  }
}
table{
  // width: inherit!important;
  tr{
    border-bottom: 1px thin;
  }
}
:host ::ng-deep .mat-form-field-flex{
  height: 45px;
}