<div class="header">
    <mat-icon (click)="backNav()">keyboard_backspace</mat-icon>
    <p class="title">{{'Add/Edit'}} Product </p>
</div>
<div class="content-container py-2">
    <form style="width: 100%;padding:3%;">
    <fieldset>
        <legend> {{'Add/Edit'}} - Product</legend>
            <div class="row d-flex">
                <div class="form-group col-lg-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Product Title*</mat-label>
                        <input matInput type="text" formControlName="title">
                        <!-- <mat-error *ngIf="basicInfo.get('name').hasError('required') || (basicInfo.get('name').dirty || basicInfo.get('name').touched)">Name is required</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Choose one</mat-label>
                        <mat-select>
                            <mat-option>Clear</mat-option>
                            <mat-option value="valid">Boats</mat-option>
                            <mat-option value="invalid">MI</mat-option>
                        </mat-select>
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!-- <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                            <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                              Your selection is invalid
                            </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Tags</mat-label>
                        <input matInput type="text" formControlName="tags">
                        <!-- <mat-error *ngIf="basicInfo.get('name').hasError('required') || (basicInfo.get('name').dirty || basicInfo.get('name').touched)">Name is required</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex mt-3">
                <div class="form-group col-lg-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Select Catagory</mat-label>
                            <mat-select>
                                <mat-option>Clear</mat-option>
                                <mat-option value="valid">Electric</mat-option>
                                <mat-option value="invalid">NONE</mat-option>
                            </mat-select>
                            <mat-hint>Errors appear instantly!</mat-hint>
                            <!-- <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                                <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                                  Your selection is invalid
                                </mat-error> -->
                        </mat-form-field>
                </div>
                <div class="form-group col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select Catagory</mat-label>
                        <mat-select>
                            <mat-option>Clear</mat-option>
                            <mat-option value="valid">Electric</mat-option>
                            <mat-option value="invalid">NONE</mat-option>
                        </mat-select>
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!-- <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                            <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                              Your selection is invalid
                            </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex mt-3 form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Product Details*</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
            </div>
    </fieldset>
    <button mat-raised-button class="btn btn-primary mt-3" style="float: right;" (click)="openDialog()">Save & Add Variant</button>
</form>
</div>