.title-container {
  margin-left: 5%;
  margin-top: 5%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  .sort-filter-container {
    display: flex;
    gap: 5%;
    width: 40%;
    align-items: baseline;

    .title-text {
      font-size: xx-large;
      font-weight: bold;
    }

    .sortby {
      width: 200px;
      height: 45px;
      padding: 2%;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
      border-radius: 15px;
    }
  }


  .filter-container {
    margin-right: 15%;
    display: inline-flex;
    gap: 5%;
    align-items: baseline;

    .add-brand {
      background-color: #F1F3F6;
      box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
    }

    .filter {
      background-color: #F1F3F6;
      box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
    }

    .search-filter {
      height: 45px;
      outline: none;
      border: 1px solid #EAEAEA;
      border-radius: 15px;
      padding-left: 5%;
      box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
    }
  }
}


.table-container {
  margin: 2% 5% 5% 5%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  .product-table {
    overflow: hidden !important;
    border-radius: 15px;

    .product-table-header {
      background-color: #F1F3F6;
      border-color: white;
      padding-left: 2%;

      .headers {
        font-weight: bold;
      }

      .action-header {
        font-weight: bold;
        text-align: center;
      }
    }

    .product-table-cell {
      border-color: white;
      padding-left: 2%;
      padding-top: 2%;

      .action {
        text-align: center;

        .action-container {
          display: inline-flex;
        }
      }


      .product-name {
        display: flex;
        gap: 10px;

        .title {
          font-weight: bold;
        }

        .product-image {
          width: 50px;
          height: 50px;
          border: 1px solid #EAEAEA;
          border-radius: 10px;
        }
      }
    }


  }

  .product-paginator {
    overflow: hidden !important;
    border-radius: 15px;
  }
}
