<p class="title" *ngIf="requester != 'Product Listing'">Add Product</p>
<p class="title" *ngIf="requester == 'Product Listing'">Edit</p>

<div class="form-container">

  <form class="upper-form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <div class="info-container">
      <div class="input-fields">
        <p>Product Title</p>
        <input type="text" placeholder="Enter Product Title" formControlName="title">
      </div>
      <div class="drop-down">
        <p>Brand Name</p>
        <mat-select formControlName="brand" placeholder="Select Brand">
          <ng-container *ngFor="let brand of brandList">
            <mat-option [value]="brand.id">{{brand.name}}</mat-option>
          </ng-container>
        </mat-select>
      </div>
    </div>
    <div class="info-container">
      <div class="drop-down">
        <p>Category</p>
        <mat-select formControlName="category" placeholder="Select Category" (selectionChange)="renderSubCategory()">
          <ng-container *ngFor="let category of categoryList">
            <mat-option [value]="category.id">{{category.name}}</mat-option>
          </ng-container>
          <mat-option value="Add Category">Add Category</mat-option>
        </mat-select>
      </div>
      <div class="drop-down">
        <p>Sub-category</p>
        <mat-select formControlName="subCategory" placeholder="Select Sub Category">
          <ng-container *ngFor="let subCategory of subCategoryList">
            <mat-option [value]="subCategory.id">{{subCategory.name}}</mat-option>
          </ng-container>
          <mat-option value="Add New SubCategory">Add Subcategory</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="info-container">
      <div class="tags">
        <p>Tags</p>
        <mat-chip-grid #chipGrid aria-label="Enter Tags" formControlName="tag">
          <mat-chip-row *ngFor="let tag of tags" (removed)="removeTag(tag)">
            {{tag}}
            <button matChipRemove aria-label="'remove ' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="New keyword..." [matChipInputFor]="chipGrid" (matChipInputTokenEnd)="addTag($event)" />
        </mat-chip-grid>
      </div>
      <div class="drop-down">
        <p>Currency</p>
        <mat-select placeholder="Select Currency">
          <mat-option value="dollar">
            <img src="../../../assets/dollar.png">
            <span>Dollar</span>
          </mat-option>
          <mat-option value="euro">
            <img src="../../../assets/Euro.png">
            <span>Euro</span>
          </mat-option>
          <mat-option value="rupee">
            <img src="../../../assets/rupee.png">
            <span>Rupees</span>
          </mat-option>
          <mat-option value="pound">
            <img src="../../../assets/pound.png">
            <span>Pound</span>
          </mat-option>
        </mat-select>
      </div>
    </div>
    <mat-divider></mat-divider>
  </form>

  <div class="add-variant">
    <p>Add Variant</p>
  </div>

  <form class="lower-form" [formGroup]="variantForm" (ngSubmit)="onSubmit()">
    <div formArrayName="variant">
      <ng-container *ngFor="let variant of variantForm.get('variant')['controls']; let i=index">
        <p class="variant-number"><span>Variant </span>{{i+1}}</p>
        <div class="variant-detail-container" [formGroupName]="i">
          <div class="input">
            <p>Price</p>
            <input type="text" placeholder="Enter Price" formControlName="price">
          </div>
          <div class="input">
            <p>Variant Name</p>
            <input type="text" placeholder="Enter Variant Name" formControlName="name">
          </div>
          <div class="input">
            <p>SKU</p>
            <input type="text" placeholder="Enter SKU" formControlName="sku">
          </div>
          <div class="input">
            <p>UCM</p>
            <input type="text" placeholder="Enter UCM" formControlName="ucm">
          </div>
          <div class="text">
            <p>Description</p>
            <textarea formControlName="description"></textarea>
          </div>
        </div>
        <div class="remove-variant" *ngIf="i != 0">
          <button mat-raised-button color='warn' (click)="removeVariant(i)">Remove
            Varient</button>
        </div>
        <mat-divider *ngIf="i!=0"></mat-divider>
      </ng-container>
    </div>
    <button type="submit" hidden="true" #submitButton></button>
  </form>
  <div class="submission">
    <button mat-raised-button class="add-variant-button" (click)="addVariant()">
      <span>Add Variant</span>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button class="submission-button" type="button" [matMenuTriggerFor]="menu">
      <span>Save</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="submitButton.click()">
        <span>Save</span>
      </button>
      <button mat-menu-item>
        <span>Save & Publish</span>
      </button>
    </mat-menu>
  </div>
</div>


<!-- <div class="form-container">
  <div class="left-form">

    <mat-card class="product-form">
      
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div>
          <p class="label">Title </p>
          <div class="product-form-elements">
            <input type="text" matInput formControlName="name" class="product-form-text-elements"
              placeholder="Enter Product Title">
          </div>
        </div>

        <div>
          <p class="label">Description</p>
          <div class="product-form-elements">
            <textarea type="text" formControlName="description" class="product-form-text-elements" maxlength="300"
              rows="5" cols="33"></textarea>
          </div>
        </div>
      </form>
    </mat-card>

    <mat-card class="attachment-form" (ngSubmit)="onSubmit()">
      <form [formGroup]="attachmentForm">
        <button mat-raised-button (click)="addAttachment()" type="button">Add Attachment</button>
        <div formArrayName="attachments">
          <ng-container *ngFor="let attachment of attachmentForm.get('attachments')['controls']; let i=index">
            <div [formGroupName]="i" class="attachment-container">
              <mat-card class="attachment-card">
                <a type="button" mat-button (click)="fileInput.click()" class="add-icon"><img
                    src="../../../assets/foundation_upload-cloud.svg"></a>
                <input hidden formControlName="image" #fileInput type="file">
                <a mat-button color='warn' (click)="removeAttachment(i)" class="delete-icon">
                  Remove
                </a>
              </mat-card>
            </div>
          </ng-container>
        </div>

      </form>

    </mat-card>
  </div>
  <div class="right-form">
    <mat-card class="category-form">
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div>
          <p class="label">Category</p>
          <mat-select formControlName="category" placeholder="Select Category" (selectionChange)="renderSubCategory()"
            class="category-form-elements">
            <ng-container *ngFor="let category of categoryList">
              <mat-option [value]="category.id">{{category.name}}</mat-option>
            </ng-container>
            <mat-option value="Add Category">Add Category</mat-option>
          </mat-select>
        </div>
        <div *ngIf="categoryForm.value.category == 'Add Category'" class="category-form-container">
          <p class="label">New Category</p>
          <mat-form-field>
            <mat-label>Add New Category </mat-label>
            <input type="text" matInput formControlName="newCategory">
          </mat-form-field>
          <button mat-button (click)="addNewCategory()">Add</button>
        </div>

        <div class="category-form-container">
          <p class="label">Sub Category </p>
          <mat-select formControlName="subCategory" placeholder="Select Sub Category" class="category-form-elements">
            <ng-container *ngFor="let subCategory of subCategoryList">
              <mat-option [value]="subCategory.id">{{subCategory.name}}</mat-option>
            </ng-container>
            <mat-option value="Add New SubCategory">Add Subcategory</mat-option>
          </mat-select>
        </div>

        <div *ngIf="categoryForm.value.subCategory == 'Add New SubCategory'" class="category-form-container">
          <p class="label">New SubCategory </p>
          <mat-form-field>
            <mat-label>Add New SubCategory </mat-label>
            <input type="text" matInput formControlName="newSubCategory">
          </mat-form-field>
          <button mat-button (click)="addNewSubCategory()">Add</button>
        </div>

        <div class="category-form-container">
          <p class="label">Brand </p>
          <mat-select formControlName="brand" placeholder="Select Brand" class="category-form-elements">
            <ng-container *ngFor="let brand of brandList">
              <mat-option [value]="brand.id">{{brand.name}}</mat-option>
            </ng-container>
          </mat-select>
        </div>

        <div class="category-form-container">
          <p class="label">Price</p>
          <div class="category-form-text-elements">
            <span class="category-utility-elements">₹&nbsp;</span>
            <input type="text" formControlName="price" class="">
          </div>
        </div>

        <div class="category-form-container">
          <button (click)="openVarient()" type="button" mat-raised-button class="category-varient-object">Add
            Varient</button>
        </div>

        <button #submitButton type="submit" hidden></button>
      </form>

    </mat-card>
    <div class="final-submision">
      <button mat-button class="cancel-button">Cancel</button>
      <button mat-raised-button class="submission-button" type="button" (click)="submitButton.click()">Submit</button>
    </div>
  </div>
</div> -->
