<div class="product-detail-container">
  <div class="left-container">
    <!-- Container for images -->
    <mat-card class="main-card">

      <div class="image-container">
        <a class="prev">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
        <img src="../../../assets/dummyTShirt1.png">
        <a class="next">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </div>

    </mat-card>

    <div>
      <mat-card class="sub-card">

      </mat-card>
      <mat-card class="sub-card">

      </mat-card>
      <mat-card class="sub-card">

      </mat-card>
      <mat-card class="sub-card">

      </mat-card>
    </div>
  </div>
  <div class="right-container">
    <!-- container for details -->
    <div class="heading-container">
      <!-- container for heading -->
      <div class="title-container">
        <!-- Heading Details : Flex format-->
        <div class="title">
          <!-- Title -->
          <h1>Full Sleeve Sweathshirt for Men (Pink)</h1>
        </div>
        <div class="brand-container">
          <!-- Brand Name | Status -->
          <p class="brand-name">Tommy Hilfiger |</p>
          <p style="color: #7E8299;">Published : {{date}}</p>
        </div>
        <div class="rating-container">
          <!-- Rating -->
          <div class="rating">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
          </div>

          <p style="color: #7E8299;">(5.50k Customer Riview)</p>
        </div>
      </div>
      <div class="edit">
        <!-- edit button -->
        <button mat-raised-button (click)="goToAddProduct()" class="edit-button"><img
            src="../../../assets/editButton.png"></button>
      </div>
    </div>

    <!-- Units like Price, SKU, Orders, Stock resides here -->
    <div class="unit-container">
      <!-- container for details like price sku etc -->
      <div class="units">
        <!-- price -->
        <div class="icon">
          <img src="../../../assets/money.png">
        </div>

        <div>
          <p style="color: #7E8299;">Price :</p>
          <p class="value">120.40</p>
        </div>
      </div>
      <div class="units">
        <!-- sku -->
        <div class="icon">
          <img src="../../../assets/sku.png">
        </div>

        <div>
          <p style="color: #7E8299;">SKU :</p>
          <p class="value">5341</p>
        </div>
      </div>
      <div class="units">
        <!-- No. of orders -->
        <div class="icon">
          <img src="../../../assets/document.png">
        </div>

        <div>
          <p style="color: #7E8299;">No. of Orders :</p>
          <p class="value">2340</p>
        </div>
      </div>
      <div class="units">
        <!-- Stocks -->
        <div class="icon">
          <img src="../../../assets/stack.png">
        </div>

        <div>
          <p style="color: #7E8299;">Available Stocks :</p>
          <p class="value">120</p>
        </div>
      </div>
    </div>

    <!-- It contains the variations of products -->
    <div class="variant-container">
      <!-- container for size and color -->
      <div class="size-variant">
        <!-- Size -->
        <div>

        </div>
      </div>
      <div class="color-variant">
        <!-- color -->
      </div>
    </div>
    <div class="description-container">
      <!-- container for description -->
      <p class="description">Description :</p>
      <p class="content">A T-shirt (also spelled tee shirt), or tee for short, is a style of fabric shirt named after
        the T shape of its body and sleeves. Traditionally, it has short sleeves and a round neckline, known as a crew
        neck, which lacks a collar. T-shirts are generally made of a stretchy, light, and inexpensive fabric and are
        easy to clean.</p>
    </div>

    <div class="feature-service-container">
      <!-- container for feature and service -->
      <div class="feature">
        <!-- container for feature -->
        <p class="feature-title">Features :</p>
        <ul class="feature-list">
          <li class="feature-list-item">Full Sleeve</li>
          <li class="feature-list-item">Cotton</li>
          <li class="feature-list-item">All Sizes Available</li>
          <li class="feature-list-item">4 Different Colors</li>
        </ul>
      </div>
      <div class="service">
        <!-- container for service -->
        <p class="service-title">Services :</p>
        <ul class="service-list">
          <li class="service-list-item">10 Days Replacement</li>
          <li class="service-list-item">Cash On Delivery Available</li>
        </ul>
      </div>
    </div>
    <div class="detail-container">
      <!-- Product Description  -->
      <p class="detail-title">Product Description :</p>
      <div class="detail-item">
        <p class="item">Category</p>
        <p class="item-value">T-Shirt</p>
      </div>
      <div class="detail-item">
        <p class="item">Brand</p>
        <p class="item-value">Tommy Hilfier</p>
      </div>
      <div class="detail-item">
        <p class="item">Color</p>
        <p class="item-value">Pink</p>
      </div>
      <div class="detail-item">
        <p class="item">Material</p>
        <p class="item-value">Cotton</p>
      </div>
      <div class="detail-item">
        <p class="item">Weight</p>
        <p class="item-value">140 Grams</p>
      </div>
    </div>
  </div>
</div>
