<div class="product-detail-container">
  <div class="left-container">
    <!-- Container for images -->
    <mat-card class="main-card">

    </mat-card>

    <div>
      <mat-card class="sub-card">

      </mat-card>
      <mat-card class="sub-card">

      </mat-card>
      <mat-card class="sub-card">

      </mat-card>
    </div>
  </div>
  <div class="right-container">
    <!-- container for details -->
    <div class="heading-container">
      <!-- container for heading -->
      <div class="title-container">
        <!-- Heading Details : Flex format-->
        <div class="title">
          <!-- Title -->
          <h1>Full Sleeve Sweathshirt for Men (Pink)</h1>
        </div>
        <div class="brand-container">
          <!-- Brand Name | Status -->
          <p class="brand-name">Tommy Hilfiger |</p>
          <p style="color: #7E8299;">Published : {{date}}</p>
        </div>
        <div class="rating-container">
          <!-- Rating -->
          <div class="rating">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
            <img src="../../../assets/ratingStart.png">
          </div>

          <p style="color: #7E8299;">(5.50k Customer Riview)</p>
        </div>
      </div>
      <div class="edit">
        <!-- edit button -->
      </div>
    </div>
    <div class="unit-container">
      <!-- container for details like price sku etc -->
      <div class="price">
        <!-- price -->
      </div>
      <div class="sku">
        <!-- sku -->
      </div>
      <div class="orders">
        <!-- No. of orders -->
      </div>
      <div class="stock">
        <!-- Stocks -->
      </div>
    </div>
    <div class="variant-container">
      <!-- container for size and color -->
      <div class="size-variant">
        <!-- Size -->
      </div>
      <div class="color-variant">
        <!-- color -->
      </div>
    </div>
    <div class="description-container">
      <!-- container for description -->
    </div>

    <div class="feature-service-container">
      <!-- container for feature and service -->
      <div class="feature">
        <!-- container for feature -->
      </div>
      <div class="service">
        <!-- container for service -->
      </div>
    </div>
    <div class="detail-container">
      <!-- Product Description  -->
    </div>
  </div>
</div>
