<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav-toolbar">
      <h1 class="mx-5 text-light"><i class="bi bi-cloud"></i> Logo</h1>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png">
          Dashboard
        </p>
      </a>
      <a mat-list-item routerLink="orders" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png">
          Orders
        </p>
      </a>
      <a mat-list-item routerLink="bookings" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png">
          Bookings
        </p>
      </a>
      <a mat-list-item routerLink="products" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png"> Add Product
        </p>
      </a>
      <a mat-list-item routerLink="productDetails" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png"> Product List
        </p>
      </a>
      <a mat-list-item routerLink="categoryList" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png"> Category
        </p>
      </a>
      <a mat-list-item routerLink="brandList" class="list-item mt-2">
        <p class="text-light fs-4">
          <img src="../../../assets/NavComponent.png">
          Brand
        </p>
      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
