<!-- Title and Filter/Add Button -->
<div class="title-container">
  <h1 class="title-text">Category</h1>
  <div class="filter-container">
    <input class="search-filter" type="text" (keyup)="applySearchFilter($event)" placeholder="Search" #input>
    <button mat-icon-button class="add-brand" (click)="addCategory()"><img src="../../../assets/AddFile.png"></button>
  </div>
</div>


<!-- Main Table for Category -->
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="category-table" multiTemplateDataRows>

    <!-- Category Table listing code -->

    <ng-container *ngFor="let column of categoryTableHeaders;let i=index" [matColumnDef]="column.field_name">
      <th mat-header-cell *matHeaderCellDef class="category-table-header header-text">{{column.header}}</th>
      <td mat-cell *matCellDef="let row;let i=index" class="category-table-cell">
        <div *ngIf="column.header == 'S/N'">
          {{ i+1 }}
        </div>
        <div *ngIf="column.header == 'Category Name'">
          {{row[column.field_name]}}
        </div>
        <div *ngIf="column.header == 'Action'">
          <button mat-icon-button><img src="../../../assets/edit.svg"></button>
          <button mat-icon-button><img src="../../../assets/Vector (2).png"></button>
        </div>
      </td>
    </ng-container>

    <!-- This is the selection column with checkboxes
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="category-table-header header-text">
        <mat-checkbox (change)="toggleAllRows()" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" color="warn"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="category-table-cell">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row): null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="category-table-header header-text">&nbsp;
      </th>
      <td mat-cell *matCellDef="let element" class="category-table-cell">
        <div *ngIf="element.subCategory?.data.length">
          <button mat-icon-button
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>


    <!-- Code for expanded data -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          *ngIf="element.subCategory?.data.length">
          <div *ngIf="expandedElement">
            <table mat-table [dataSource]="element.subCategory" class="sub-category-table">
              <ng-container *ngFor="let subCategory of subCategoryTableHeaders" [matColumnDef]="subCategory.field_name">
                <th mat-header-cell *matHeaderCellDef class="sub-category-header">{{subCategory.header}}</th>
                <td mat-cell *matCellDef="let element" class="sub-category-cell">
                  <div *ngIf="subCategory.header != 'Action'">
                    {{element[subCategory.field_name]}}
                  </div>
                  <div *ngIf="subCategory.header == 'Action'">
                    <button mat-icon-button><img src="../../../assets/edit.svg"></button>
                    <button mat-icon-button><img src="../../../assets/Vector (2).png"></button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns"></tr>
            </table>
          </div>

        </div>
      </td>
    </ng-container>

    <!-- Row for header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Row for main-table data -->
    <tr mat-row *matRowDef="let element; columns: displayedColumns" >
    </tr>
    <!-- Row for expanded data -->
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="example-detail-row"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[8, 16, 32]" showFirstLastButtons class="product-paginator">
  </mat-paginator>
</div>
