.title-container {
  margin-left: 5%;
  margin-top: 5%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

  .title-text {
    font-size: xx-large;
    font-weight: bold;
  }

  .filter-container {
    margin-right: 12%;
    display: inline-flex;
    gap: 5%;

    .add-brand {
      background-color: #F1F3F6;
      box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
    }

    .search-filter {
      outline: none;
      border: 1px solid #EAEAEA;
      border-radius: 15px;
      padding-left: 5%;
      box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
    }
  }

}

.header-text {
  font-size: large;
  font-style: bold;
}

.table-container {
  margin: 2% 5% 5% 5%;
  border: 3px solid #cccccc;
  border-radius: 15px;

  .category-table {
    overflow: hidden !important;
    border-radius: 15px;

    .category-table-header {
      background-color: #F1F3F6;
      border-color: white;
      text-align: center;
    }

    .category-table-cell {
      border-color: white;
      text-align: center;
    }
  }

  .sub-category-table {

    .sub-category-header {
      background-color: #F1F3F6;
      border-color: white;
      text-align: center;
    }

    .sub-category-cell {
      border-color: white;
      text-align: center;
    }
  }

  .product-paginator {
    overflow: hidden !important;
    border-radius: 15px;
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
